@font-face {
    font-family: 'PixelOperator';
    src: url('PixelOperator.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p  {
    font-family: 'PixelOperator';
    font-size: large;
}

h1 {
    font-family: 'PixelOperator';
    font-size: 100px;
    line-height: 0.5;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: 'PixelOperator';
    font-size: 50px;
    line-height: 0.5;
}

.site-title {
    font-family: 'PixelOperator';
    text-align: center;
    margin: 0;
}

.topnav {
    font-family: 'PixelOperator';
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    font-family: 'PixelOperator';
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
}

.main-header {
    font-family: 'PixelOperator';
    padding: 10px;
}

.main-nav ul {
    font-family: 'PixelOperator';
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li:nth-child(2) {
    font-family: 'PixelOperator';
    justify-self: center;
}
